# IDE configs
.vscode/**
.idea/**
git_hooks/**
*.iml
classpath.txt
tsconfig.json
tsd.json
*.xml
configure

# Logs
*.log*

# Sources
src/**
test/**
repo/**
scripts/**
lib/**
images/**
modules/**
!lib/src.zip
!lib/error_prone.jar
!lib/java.tmLanguage.json
!lib/java.hover.tmLanguage.json

# Compiler output
out/test/**
target/**

# Extensions
.gitignore
**/*.map
